.title {
  color: #333;
  padding-bottom: 20px;
  text-align: center;
}
.text {
  color: #777;
}
.btn {
  display: block;
  font-weight: 900;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: aquamarine;
  box-shadow: 5px 5px #777;
  border-radius: 12px;
  color: #333;
  text-align: center;
}